{% if '_group/' in request.path %}
    <h3 class="col-md-12 text-center">Призначити групу для</h3>
    <h5 class="col-md-12 text-center">{{ teacher_subject.teacher.name }} - {{ teacher_subject.subject.name }}</h5>
{% else %}
    <h3 class="col-md-12 text-center">Призначити предмет</h3>
{% endif %}

<form action="" method="POST" class="col-md-12" role="form" data-toggle="validator">
    {% csrf_token %}

    <div class="form-group">
        <label for="manage_teachers_select" class="control-label">
            {% if '_group/' in request.path %}Група*{% else %}Предмет*{% endif %}
        </label>
        <select id="manage_teachers_select" class="form-control " name="manage_teachers_select">
            <option value="">Виберіть {% if '_group/' in request.path %}групу{% else %}предмет{% endif %}</option>
            {% for item in list %}
            <option value="{{ item.id }}">
                {{ item.name }}
            </option>
            {% endfor %}
        </select>
        <span class="help-block" id="error_message"></span>
    </div>

    <p class="form-description">&lowast; &mdash; поля обов'язкові для заповнення</p>

    <div class="pull-right">
        <a href="{% url 'manage_teachers' %}" class="btn btn-default">Відмінити</a>
        <button type="submit" class="btn btn-success" name="add_button" id="add_button">
            Прийняти
        </button>
    </div>
</form>