{% extends base_template_variable %}

{% block title%}Змінити пароль | SMS{%endblock %}

{% block content %}

<h3 class="col-md-6 col-md-offset-1 text-center">Змінити пароль</h3>

<form action="" method="POST" class="col-md-6 col-md-offset-1" role="form">
    {% csrf_token %}

    <div class="form-group">
        <label for="inputPassword-old">Старий пароль</label>
        <input id="inputPassword-old" type="password" class="form-control" name="password-old">
    </div>

    <div class="form-group">
        <label for="inputPassword-new">Новий пароль</label>
        <input id="inputPassword-new" type="password" class="form-control" name="password-new">
        <span class="help-block">{{ errors.password_new }}</span>
    </div>

    <div class="form-group">
        <label for="inputPassword-confirm">Підтвердити новий пароль</label>
        <input id="inputPassword-confirm" type="password" class="form-control" name="password-confirm">
        <span class="help-block">{{ errors.password_confirm }}</span>
    </div>

    <div class="pull-right">
        <a href="{% url 'profile' %}" class="btn btn-default">Відмінити</a>
        <button type="submit" class="btn btn-success" name="confirm_button">Прийняти</button>
    </div>
    <div class="clearfix"></div>
    <div class="margin-md"></div>
</form>

{% endblock %}
